{% extends 'wrapper.html' %}
{% load static %}
{% block title %}
    <title>C-H | Datatables</title>
{% endblock %}
{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

{% endblock %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Студент</th>
                                <th>Дисциплина</th>
                                <th>Преподаватель</th>
                                <th>Вид аттестации</th>
                                <th>Оценка</th>
                                <th>Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for perfomance in content %}
                                <tr>
                                    <td>{{ perfomance.student }}</td>
                                    <td>{{ perfomance.subject }}</td>
                                    <td>{{ perfomance.teacher }}</td>
                                    <td>{{ perfomance.type_of_perfomance }}</td>
                                    <td>{{ perfomance.mark }}</td>
                                    <td>
                                        <button type="submit" id="{{ perfomance.id }}"
                                                class="btn btn-primary edit">Ред.
                                        </button>
                                        <button type="submit" id="{{ perfomance.id }}" class="btn btn-danger">
                                            Удалить
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Студент</th>
                                <th>Дисциплина</th>
                                <th>Преподаватель</th>
                                <th>Вид аттестации</th>
                                <th>Оценка</th>
                                <th>Действие</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Редактирование записи</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ФИО Студента</label>
                                <label for="select_name"></label><select
                                    class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                    data-select2-id="12" tabindex="-1" aria-hidden="true" id="select_name">
                            </select>
                            </div>
                            <div class="form-group">
                                <label>Дисциплина</label>
                                <label for="select_subject"></label><select
                                    class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                    data-select2-id="13" tabindex="-1" aria-hidden="true" id="select_subject">
                            </select>
                            </div>
                            <div class="form-group">
                                <label>Преподаватель</label>
                                <label for="select_teacher"></label><select
                                    class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                    data-select2-id="14" tabindex="-1" aria-hidden="true" id="select_teacher">
                            </select>
                            </div>
                            <div class="form-group">
                                <label>Вид аттестации</label>
                                <label for="select_type"></label><select
                                    class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                    data-select2-id="15" tabindex="-1" aria-hidden="true" id="select_type">
                                <option>Промежуточная</option>
                                <option>Итоговая</option>
                            </select>
                            </div>
                            <div class="form-group">
                                <label>Оценка</label>
                                <label for="select_mark"></label><select
                                    class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                    data-select2-id="16" tabindex="-1" aria-hidden="true" id="select_mark">
                                <option>5</option>
                                <option>4</option>
                                <option>3</option>
                                <option>2</option>
                                <option>Н/А</option>
                                <option>Зачёт</option>
                                <option>Не зачёт</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-success save">Сохранить</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}
{% block scripts %}
    <script src="{% static 'staticdist/js/adminlte.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
    <script>

    </script>
    <script>
        let ap_id = 0;
        $(function () {
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })


            // Set up the Select2 control
            $('#select_name').select2({
                ajax: {
                    url: '{% url 'get_students' %}',
                    dataType: 'json',
                }
            });

            // Set up the Select2 control
            $('#select_subject').select2({
                ajax: {
                    url: '{% url 'get_subjects_link' %}',
                    dataType: 'json',
                }
            });

            // Set up the Select2 control
            $('#select_teacher').select2({
                ajax: {
                    url: '{% url 'get_teachers_link' %}',
                    dataType: 'json',
                }
            });

            // Set up the Select2 control
            $('#select_type').select2();

            // Set up the Select2 control
            $('#select_mark').select2();

            $(document).on('click', '.btn-success.save', function () {
                $.ajax({
                    type: 'POST',
                    url: '{}',
                })
            });
            $(document).on('click', '.btn-primary.edit', function () {
                $('#modal-lg').modal("show")

                // Fetch the preselected item, and add to the control
                var studentSelect = $('#select_name');
                var subjectSelect = $('#select_subject');
                var teacherSelect = $('#select_teacher');
                var typeSelect = $('#select_type');
                var markSelect = $('#select_mark');
                ap_id = this.id;
                $.ajax({
                    type: 'GET',
                    url: '{% url 'get_academic_performance' %}' + '?term=' + this.id
                }).then(function (data) {
                        // create the option and append to Select2
                        var optionStudent = new Option(data.student_name, 1, true, true);
                        studentSelect.append(optionStudent).trigger('change');

                        var optionTeacher = new Option(data.teacher_name, 1, true, true);
                        teacherSelect.append(optionTeacher).trigger('change');

                        var optionSubject = new Option(data.subject_name, 1, true, true);
                        subjectSelect.append(optionSubject).trigger('change');

                        var optionsPerfomance = new Option(data.type, 1, true, true);
                        typeSelect.append(optionsPerfomance).trigger('change');

                        var optionsMark = new Option(data.mark, 1, true, true);
                        markSelect.append(optionsMark).trigger('change');
                    }
                )
            })
        })
    </script>
{% endblock %}